@media screen and (max-width: 850px) {
        nav{
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        a{
            font-size: 10pt;
        }
        section{
           flex-direction: column;
        }
        h1,h2,h3{
            font-size: 15pt;
            margin: 22px;
        }
        img{
            max-width: 400px;
        }
        textarea{
            max-width: 280px;
        }
        form,fieldset{
            justify-content: center;
        }
      
    }
   
