@media screen and (max-width: 850px) {
        ul, section{
           flex-direction: column;
        }
        h1,h2,h3{
            font-size: 20pt;
        }
        img{
            max-width: 400px;
        }
        textarea{
            max-width: 310px;
        }
        fieldset{
            margin: 0 auto;
        }
    }
   