body{
    padding: 15;
    margin: 0 auto;
    background-color: rgb(18, 4, 32);
    
    font-family: verdana;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    padding: 10px;
}
ul{
    display: flex;
    gap: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
a:hover{
    transition: 0.7s all;
    color: #e44d26;
}

.blue:hover{
    transition: 0.7s all;
    color: #0070bb;
}

h1,h2{
    color: white;
    line-height: 2px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: center;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: row;
    padding: 20px;
}
h1{
    font-size: 40pt;
}
h2{
    font-size: 35pt;
}
.HTML{
    color: #e44d26;
}
.CSS{
    color: #0070bb;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
input{
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
}
input[type="submit"]{
    width: 50%;
    cursor: pointer;
    background-color: #0070bb;
    color: white;
}
h3{
    color: #0070bb;
    font-size: 15pt;
    padding: 0;
    margin: 0px;
}
#rodape{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
p{
    color: white;
}