body{
    padding: 15;
    margin: 0 auto;
    background-color: rgb(18, 4, 32);
    
    font-family: verdana;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    padding: 10px;
}
ul{
    display: flex;
    gap:15;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
a:hover{
    transition: 0.7s all;
    color: #0070bb;
}
.orange:hover{
        transition: 0.7s all;
        color: #e44d26;
}


.blue:hover{
    transition: 0.7s all;
    color: #0070bb;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

img{
    border-radius: 20px;
} 
.img-container img{
    transition: transform .8s ease;
}
.img-container:hover img{
    transform: scale(1.1);
}
#rodape{
    display: flex;
    justify-content: center;
}
p{
    
    color: white;
}
