body{
    padding: 15px;
    margin: 0 auto;
    background-color: rgb(18, 4, 32);
    
    font-family: verdana;
}
h1, p{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    padding: 10px;
}
ul{
    display: flex;
    gap: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
a:hover{
    transition: 0.7s all;
    color: #0070bb;
}
.orange:hover{
        transition: 0.7s all;
        color: #e44d26;
}

.blue:hover{
    transition: 0.7s all;
    color: #0070bb;
}
p{
    max-width: 700px;
}
li,ul{
    list-style: none;
    max-width: 650px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-html{
    border: solid 1px;
    color: white;
    padding: 40px;
    border-radius: 20px;
}
.container-como-funciona-o-html{
    border: solid 1px;
    color: white;
    padding: 40px;
    border-radius: 20px;
}
.container-como-funciona-o-html, .container-html, .container-tags-html, .estrutura-basica-html{
    margin: 20px;
}
.container-tags-html{
    border: solid 1px;
    color: white;
    padding: 40px;
    border-radius: 20px;
}
.principais-tags-html{
    border: solid 1px;
    color: white;
    padding: 40px;
    border-radius: 20px;
}
.estrutura-basica-html{
    border: solid 1px;
    color: white;
    padding: 40px;
    border-radius: 20px;
}
#rodape{
    display: flex;
    justify-content: center;
}
