body{
    background-color: rgb(18, 4, 32);
    font-family: verdana;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
   
}
* {
    margin: 0;
    padding: 0;
}


#titulo {
    font-family: sans-serif;
    color: white;
    margin-left: 7%;
} 


#subtitulo {
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 10px;
}


.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}


.campo {
    margin-bottom: 1em;
}


.campo label {
    margin-bottom: 0.2em;
    color: white;
    display: block;
}


fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}


.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid white;
    display: block;
}


.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: white;
}

.botao {
    font-size: 1.2em;
    background: white;
    border: 0;
    margin-bottom: 1em;
    color: black;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #e44d26;
    text-shadow: none;
}


.botao, select{
    cursor: pointer;
} 
label, input{
    color: white;
}
input{
    color: black;
}
#rodape{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    align-items: center;
}
